.my-pieces-table{ 
    font: 13px Helvetica, Arial; 
}
.pieces-table {
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0;
    table {
        border-collapse: collapse;
        width: 80%;
        background-color: $white;
        tbody {
            display: flex;
            flex-direction: column;
        }
        p {
            font-size: 13px;
            line-height: 20px;
            width: 100px;
        }
        th, td {
            text-align: left;
            padding: 8px;
            width: 100px;
            
        }
        tr {
            border-style: solid;
            border-width: 1px;
            border-color: $lineBlue;
        }
        tr:nth-child(even) {
            background-color: $lightGrey;
        }
    }
}
.pieces-status {
        display: flex;
    .status {
        border-radius: 15px;
        padding: 4px; 
        width: 1px;
        height: 1px; 
        margin: 10px 0 10px 0;
    }
    .approved {
        background: $statusApproved;
    }
    .pending {
        background: $statusPending;
    }
    .denied {
        background: $statusDenied;
    }
}
.piece-thumbnail{
    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}