#addPiece{
    width: 100%;
    background-color: $admin;
    padding-bottom: 85px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
}

#formAddPiece{
    width: 720px;
    margin-top: 55px;
    background-color: $white;

    .formAddPiece__header{
        width: 100%;
        height: 135px;
        padding-top: 30px;
        position: relative;
        h2{
            text-align: center;
            font-size: 20px;
        }
        p{}
    }

    .addPieceForm{
        width: 70%;
        margin: 65px 15%;
    }
    input{
        width: 100%;
        height: 35px;
        margin: 14px 0;
        border: none;
        border-bottom: 1px solid $lightGrey;
    }
    textarea{
        width: 100%;
        border: none;
        border-bottom: 1px solid $lightGrey;
    }
    .h5{
        font-weight: $fontRegular;
    }
    .addPieceTwoInLine{
        width: 100%;
        // margin-left: 15%;
        display: inline-flex;
        input{
            width: 48%;
            &:first-child{
                margin-right: 4%;
            }
        }
    }
    button{
        width: 100%;
        margin-top: 25px;
    }
}